.profile__avatar {
  border-radius: 50%;
  height: 120px;
  margin: 0 30px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 120px;
}

@media screen and (max-width: 410px) {
  .profile__avatar {
    margin: 2px 0 0 1px;
  }
}
