.profile__info {
  flex-grow: 1;
  padding: 0 0 5px 1px;
  display: grid;
  max-height: 120px;
  grid-template-columns: minmax(189px, 294px) auto;
  gap: 8px 0;
  justify-items: flex-start;
  grid-template-areas:
      'title edit-button'
      'subtitle subtitle';
  align-items: baseline;
}

@media screen and (max-width: 710px) {
  .profile__info {
    justify-items: center;
  }
  }

@media screen and (max-width: 610px) {
  .profile__info {
    padding: 1px 2px 30px 4px;
    max-width: 250px;
  }
  }